h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

:root {
  --main-color-white: #ffffff;
  --main-color-white-2: #f6f7f7;
  --main-color-black: #000000;
  --main-bgr-color-1-1: (90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  --main-bgr-color-1-1: (
    313.81deg,
    rgba(0, 197, 235, 0.5) -7.83%,
    rgba(181, 68, 254, 0.5) 83.61%
  );
  --main-bgr-color-2: #06071b;
  --main-bgr-color-3: #00c5eb;
  --main-bgr-color-4: #b544fe;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--main-bgr-color-2);
  padding-top: 26px;
  padding-bottom: 145px;
  color: var(--main-color-white);
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.hero-header {
  padding: 20px 16px;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  backdrop-filter: blur(17.5px);
}
.hero-header-navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  font-size: 28px;
  line-height: calc(34 / 28);
  color: var(--main-color-white);
}
.hero-header-list {
  align-items: center;
  display: flex;
  gap: 40px;
}

.hero-header-item {
}

.hero-header-link {
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--main-color-white);
}

.container-hero {
  padding-left: 16px;
  padding-right: 16px;
}

.hero-title {
  margin-top: 145px;
  font-size: 40px;
  line-height: calc(48 / 40);
}
.hero-subtitle {
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-top: 12px;
  margin-bottom: 28px;
}

.hero-list-p {
  font-size: 16px;
  line-height: calc(19 / 16);
}
.hero-item-p {
  margin-top: 12px;
  margin-bottom: 12px;
}

.hero-text {
  display: flex;
  gap: 4px;
}

.hero-text::before {
  content: "";
  display: block;
  background-image: url(../images/dashicons_arrow-right-alt.svg);
  width: 18px;
  height: 18px;
}

.hero-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-color-white);
  padding: 12px 60px;
  margin-top: 60px;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
}
.hero-list-phone {
}
.hero-item-phone {
}
/*        <ul class="hero-list-phone list">
            <li class="hero-item-phone">
              <img src="./images/decor-1.jpg" alt="dekor" />
            </li>
            <li class="hero-item-phone">
              <img src="./images/decor-2-phone.jpg" alt="phone" />
            </li>
          </ul>*/

.key-features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.key-features-title {
  font-size: 24px;
  line-height: calc(29 / 24);
  text-align: center;
  color: var(--main-color-black);
  margin-bottom: 80px;
  text-transform: uppercase;
}

.key-features-title-text {
  width: 886px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  margin: 0 auto;
  color: var(--main-color-black);
}

.container-features-key {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.key-features-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 220px;
  margin-top: 140px;
}

.key-features-item {
}

.key-features-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--main-color-black);
}

.key-features-subtitle-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--main-color-black);
}

.images-frame {
  margin-top: 80px;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 220px;
  margin-top: 140px;
}

.features-item {
}
.features-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--main-color-black);
}
.features-subtitle-text {
}

.video {
  background-color: var(--main-bgr-color-2);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
}

.container-video-text {
  width: 480px;
}

.container-video-img {
}

.video-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--main-color-white);
}

.video-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-color-white);
  margin-top: 20px;
  margin-bottom: 40px;
}

.our-team {
  padding-top: 80px;
}

.our-team-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--main-color-black);
  margin-bottom: 80px;
  text-align: center;
}

.our-team-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin: 0 auto;
  width: 886px;
  margin-bottom: 80px;
}

.our-team-list {
  display: flex;
  gap: 32px;
}

.our-team-item {
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
  border-radius: 15px;
  padding: 12px 12px 0 12px;
}

.img-our-team {
  border-radius: 10px;
}

.container-h3-p {
}

.watch-the-video-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--main-color-white);
  text-align: center;
  margin-top: 20px;
}

.watch-the-video-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 22);
  text-align: center;
  color: var(--main-color-white);
  margin: 12px 0;
}

.costumer {
  padding: 80px 15px;
}

.costumer-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--main-color-black);
  text-align: center;
  text-transform: uppercase;
}

.costumer-img {
  margin: 40px auto 20px;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
}

.costumer-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--main-color-black);
  text-align: center;
}

.costumer-subtitle-company {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;
  color: var(--main-color-black);
  margin: 12px 0 40px;
}

.costumer-subtitle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: var(--main-color-black);
  margin: 0 197px;
}

.footer {
  background-color: var(--main-bgr-color-2);
  padding: 80px 16px 20px;
}

.container {
  display: flex;
}

.footer-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color-white);
  text-align: center;
  margin-bottom: 80px;
}

.container-1 {
}

.footer-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: var(--main-color-white);
  margin-bottom: 20px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-color-white);
  width: 500px;
  margin-bottom: 20px;
}

.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}

.footer-address-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-color-white);
  margin-bottom: 20px 0 20px;
  gap: 12px;
}

.footer-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-color-white);
  padding: 12px 60px;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
}

.container-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.qwert {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-color-white);
  margin-top: 100px;
}
